# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# Bỏ qua thư mục MySQL runtime
sources/data/
sources/logs/
sources/tmp/

# Bỏ file socket và cache
*.sock
*.pid
*.cnf
*.log

# Bỏ các thư mục Docker
db_data/
